# === Frontend junk ===
frntend/node_modules/
frntend/dist/

# === Backend junk ===
backend/__pycache__/
*.pyc

# === Docker junk ===
*.log

# === Secrets ===
.env
.env.*

# === System files ===
.DS_Store
Thumbs.db
